@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;600;800&display=swap');

:root {
  --background-primary-color: #0b0c1078;
  --background-secondary-color: #1f2833cc;
  --font-title-color: #fd4434;
  --text-color: #fff;
  --projects-section-color: #f7c41f;
}

*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: 'Red Hat Display', sans-serif;
  background-image: linear-gradient(
      45deg,
      var(--background-primary-color) 0%,
      var(--background-secondary-color) 100%
    ), url("https://images.pexels.com/photos/196659/pexels-photo-196659.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

a{ text-decoration: none; }

#container{
  width: 100%;
  height: 100vh;
}

#container header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 7vh;
  background-color: var(--font-title-color);
  position:fixed;
  top: 0;
  z-index: 10;
}

#container header #navbar ul{
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 400px;
}

header #navbar ul a{  
  color: var(--text-color);
  font-weight: 600;
}

header #navbar ul li {
  list-style: none;
  font-size: 1.3em;
}

/* Main section */

main{
  position: relative;
  width: 100%;
  height: 100vh;
  /* border: 1px solid white; */
  z-index: 5;
}

main > #welcome-section{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main > #welcome-section h1{
  width: fit-content;
  margin: -100px auto 0;
  text-align: center;
  color: var(--font-title-color);
  font-size: 4em;
  font-weight: 800;
}

main > #welcome-section > h1 > span{
  display: block;
  font-size: 0.45em;
  font-style: italic;
  color: var(--text-color);
}

/* Main -> Projects section */
main > #projects-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 20px;
  background: var(--projects-section-color);
  height: fit-content;
}

main > #projects-section h2{
  width: fit-content;
  /* border: 1px solid; */
  margin-top: 50px;
  font-size: 2.3em;  
}

main > #projects-section #projects{
  display: grid;
  grid-template-columns: repeat(
    auto-fit, minmax(
      300px, 
      1fr
    )
  );
  align-items: center;
  gap: 30px;
  /* border: 3px solid; */
  width: 100%;
  margin-top: 40px;
}

#projects-section #projects .project-tile img{
  width: 100%;
  height: 300px;
  margin-block-end: -10px;
  object-fit: cover;
}

.project-tile-name > *{ 
  color: black;
  font-size: 1.2em;
  font-weight: 600;
  color: var(--text-color);
}

#projects-section 
#projects 
.project-tile 
.project-tile-name{
  display: flex;
  justify-content: center;
  padding-block: 20px;
  background-color: rgb(27, 136, 182);
}

.project-tile p{
  margin-inline: 5px;
}

.project-tile-name .close::before{ 
  content: "/";
  font-size: 1em;
}

.project-tile-name .tag{
  /* display: none; */
  color: var(--projects-section-color);
}

#projects-section > a{
  margin: 50px; 
  background-color: rgb(27, 136, 182);
  color: var(--text-color);
  padding: 8px 20px 10px;
}

#projects-section a,
#projects-section span{
  font-size: 1.3em;
}

#projects-section span { margin-left: 5px; }

i{
  vertical-align: middle;
  font-weight: bold;
}

.fa-chevron-right:before{
  font-size: 22px;
  font-weight: bolder;
}/* Footer */

/* Social Media section */
main #social-media{
  width: 100%;
  /* height: 75vh; */
  padding-block: 300px;
  background-color: #303841;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main
#social-media >
:not(#social-media-links){
  color: var(--text-color);
}

main #social-media h2{
  font-size: 4em;
  font-weight: 800;
}

main #social-media p{
  font-style: italic;
  font-weight: 200;
  font-size: 1.25em;
}

/* Footer */
#container footer{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 40px 45px;
  font-size: 2em;
  border-top: 5px solid var(--font-title-color);
  background-color: #303841;
}

#container footer p{
  font-size: 0.5em;
  text-align: center;
}

#container footer,
#container footer a{
  color: #fff;
}main 
#social-media > 
:not(#social-media-links){
  color: var(--text-color);  
}
