@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300&display=swap');

:root {
  --background-primary-color: #0b0c1078;
  --background-secondary-color: #1f2833cc;
  --font-title-color: #fd4434;
  --text-color: #fff;
}
